:root {
display: flex;
flex-direction: row;
justify-content: center;
}
.navbar.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90vw;
  margin: 25px;
}
.logo-container {
    width: 100%;
}
.nav-links {
    display: flex;
    flex-direction: row;

}

.nav-links a {
  gap: 10px;
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  padding: 16px 15px;
}

.nav-links a:hover {
  color: #f10abf;
}

.nav-links button {
  border: none;
  margin: 0 1rem;
  font-size: 15px;
}

.nav-links button:hover {
  color: #d30bcc;
}

h3 {
  padding: 5px;
}
h3 a {
  color: #333;
  text-decoration: none;
}
h3 a:hover {
  color: #070707;
  text-decoration: none;
}
